
.scroll {
  height: 360px;
  width: 100%;
  overflow: auto;
  /* border: 1px solid #666; */
  /* background-color: #ccc; */
  padding: 8px;
  color: white;
  margin-top: 5px;
}

@media screen and (max-width: 767px) {
    .scroll{
        height: 380px;
    }
}